*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 15px;
    vertical-align: text-bottom;
    font-family:"Roboto";
    font-size: 40px;
}

header{
    margin:40px;
}

#Logo{
    width: 70px;
}